@import '$lib/styles/tokens/index.css';
@import '$lib/styles/brand/index.css';
@import '$lib/styles/font/index.css';
@import '$lib/styles/color/index.css';
@import '$lib/styles/size/index.css';


body {
    padding: 0;
    box-sizing: border-box;
}

